<% @items.each do |item| %>
  <h1>Items founded by search</h1>
  <div>
    <h2><%= t('items.index.item', item_name: item.name) %></h2>
    <p>
      <% collection = Collection.find(item.collection_id) %>
      <% host_user = User.find(collection.user_id) %>
      <%= link_to (t 'items.index.view'), item_path(item) %>
    </p>
  </div>
<% end %>
