<div>
  <%= form_for :query, url: results_path, method: :get, class: "form-inline my-2 my-lg-0" do |form| %>
    <%= form.text_field :query, class: "mr-sm-2" %>
    <%= form.submit 'Search', class: "btn btn-outline-success my-2" %>
  <% end %>
</div>
