<h1>Welcome to Collections site</h1>
<p>You're now logged in as <%= current_user.email %></p>
<p><%= link_to 'Another users collections here', users_path %></p>
<p><%= link_to 'My collections', user_path(current_user.id) %></p>
