<% if user_signed_in? %>
  <li>
  <%= link_to((t 'templates.edit'), edit_user_registration_path) %>
  </li>
<% else %>
  <li>
  <%= link_to((t 'users.shared.sign_up'), new_user_registration_path) %>
  </li>
<% end %>
